<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/css/application.css}">
    <script type="text/javascript" th:src="@{/js/application.js}"></script>

    <title>Application</title>
</head>
<body>

    <form>
        <h3><label>Фамилия, имя, отчество</label></h3>
        <p><label>
            <input type="text" id="client_name">
        </label></p>
    </form>

    <form>
        <h3><label>Паспортные данные</label></h3>
        <p><label>
            <input type="text" id="passport_data">
        </label></p>
    </form>

    <form>
        <h3><label>Семейное положение</label></h3>
        <p><label>
            <input type="text" id="family_status">
        </label></p>
    </form>

    <form>
        <h3><label>Адрес прописки</label></h3>
        <p><label>
            <input type="text" id="address">
        </label></p>
    </form>

    <form>
        <h3><label>Контактный телефон</label></h3>
        <p><label>
            <input type="text" id="phone_number">
        </label></p>
    </form>

    <form>
        <h3><label>Сведения о занятости</label></h3>
        <p><label>
            <input type="text" id="employment_information">
        </label></p>
    </form>

    <form>
        <h3><label>Сумма желаемого кредита</label></h3>
        <p><label>
            <input type="text" id="credit_amount">
        </label></p>
    </form>

    <button type="submit" onclick="getAppl();">Send application</button>
<!--        <button onclick="location.href=http://localhost:8080/credit?client_name=test&passport_data=12345&family_status=ststusF&address=someAddress&phone_number=888888888&employment_information=someEmplInfo&credit_amount=9999;">Send application</button>-->




    <form id="getAllClients" onclick="getAllClients()">
        <input type="submit" value="Все пользователи" id="getAllClientsId" />
        <p><textarea id="getAllClientsOut"></textarea></p>
    </form>

    <form id="getClientsOnNamePonePassport">
        <input type="submit" onclick="getClientsOnNamePonePassport()" value="Поиск клиента по ФИО, номеру и паспорту" id="getClientsOnNamePonePassportId" />
        <p><label>
            <input type="text" id="ClientsOnName">
        </label></p>
        <p><label>
            <input type="text" id="ClientsOnPone">
        </label></p>
        <p><label>
            <input type="text" id="ClientsOnPassport">
        </label></p>
        <p><textarea id="getClientsOnNamePonePassportOut"></textarea></p>
    </form>

    <form id="GetClientApproved">
        <input type="submit" onclick="getAllClients()" value="Клиенты со статусом одобрения" id="GetClientApprovedId" />
        <p><label>
            <input type="text" id="ClientApproved">
        </label></p>
        <p><textarea id="GetClientApprovedOut"></textarea></p>
    </form>

    <form id="GetClientSubscribe">
        <input type="submit" value="Клиенты, подписавщие контракт" id="submit" />
        <p><label>
            <input type="text" id="ClientSubscribe">
        </label></p>
        <p><textarea id="GetClientSubscribeOut"></textarea></p>
    </form>

</body>
</html>