<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/css/application.css}">
    <script type="text/javascript" th:src="@{/js/application.js}"></script>

    <title>Application</title>
</head>
<body>

    <form>
        <h3><label id="client_name">Фамилия, имя, отчество</label></h3>
        <p><label>
            <input type="text">
        </label></p>
    </form>

    <form>
        <h3><label id="passport_data">Паспортные данные</label></h3>
        <p><label>
            <input type="text">
        </label></p>
    </form>

    <form>
        <h3><label id="family_status">Семейное положение</label></h3>
        <p><label>
            <input type="text">
        </label></p>
    </form>

    <form>
        <h3><label id="address">Адрес прописки</label></h3>
        <p><label>
            <input type="text">
        </label></p>
    </form>

    <form>
        <h3><label id="phone_number">Контактный телефон</label></h3>
        <p><label>
            <input type="text">
        </label></p>
    </form>

    <form>
        <h3><label id="employment_information">Сведения о занятости</label></h3>
        <p><label>
            <input type="text">
        </label></p>
    </form>

    <form>
        <h3><label id="credit_amount">Сумма желаемого кредита</label></h3>
        <p><label>
            <input type="text">
        </label></p>
    </form>

    <form>
        <button onclick="getAppl();">Send application</button>
    </form>

</body>
</html>